<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>李东韩博客</title>
</head>
{% load static %}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/article.css"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.js"></script>
<script src="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.min.js"></script>
<body>
	{% include "base.html" %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/index/">首页</a></li>
				  <li class="active">文章</li>
				  <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
				</ol>
				{% block blog %}
                {% endblock %}
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default">
					  <div class="panel-body contentList">
                          <div id="dataContainer" style="border:1px solid;border-bottom-color:black;"></div>
                        <div id="demo"></div>
					  </div>
					</div>
					
				</div>
                {% include 'publish_base.html' %}
			</div>
		</div>
	</div>
	<div class="w_foot">
	</div>
	<!--toTop-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>
	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
<script>
    {% block js_tagname %}
    {% endblock %}
    $(document).ready(function () {
        {% block search %}
        load_data(0, 0);
        {% endblock %}
    });

function load_data(type, loc) {
        $('#demo').pagination({
    {% block js  %}
            dataSource: '/all_article/',//接口 参数
    {% endblock %}
            prevText: '上一页',
            nextText: '下一页',
            className: 'paginationjs-theme-red',
            alias: {
                pageNumber: 'page',
                pageSize: 'size'
            },
            pageSize: 5,
            showGoInput: true,
            showGoButton: true,
            locator: 'a.data',
            totalNumberLocator: function (response) {//处理页数
                return response.total;
            },
            ajax: {
                type: 'POST',
                {% block search_val %}
                {% endblock %}
                beforeSend: function () {//请求前处理
                    $("#dataContainer").html('加载中...');
                }
            },
            callback: function (data, pagination) {//请求后处理
                var html = "";
                for(var i=0;i<=data.length;i++){
                    if(data[i] != undefined){
                        html += load_html(data[i]);
                    }

                }
                $("#dataContainer").html(html);
            }
        })
    }
    function load_html(item) {
        return `<div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="contentleft">
                                        <h4><a class="title" href="/whole_passage/?blog_name=` + item["blog_name"] + `">` + item["blog_name"] + `</a></h4>
                                        <p>
                                            ` + get_a_tags(item) + `
                                        </p>
                                        <p class="overView" style="display: -webkit-box;   overflow: hidden;   white-space: normal!important;   text-overflow: ellipsis;   word-wrap: break-word;   -webkit-line-clamp: 3;   -webkit-box-orient: vertical;">` + item['blog_context'] + `
                                            </p>
                                        <p><span class="count"><i class="glyphicon glyphicon-user"></i><a
                                                href="/user_blog/?author=`+item['author']+`">` + item['author'] + `</a></span> <span class="count"><i
                                                class="glyphicon glyphicon-eye-open"></i>阅读:` + item['reading_quantity'] + `</span><span
                                                class="count"><i
                                                class="glyphicon glyphicon-comment"></i><a href="/whole_passage/?blog_name=`+item['blog_name'] +`">评论:` + item['comment_quantity'] + `</span></a><span class="count"><i
                                                class="glyphicon glyphicon-time"></i>` + item['blog_time'] + `</span></p>
                                    </div>
                                    <div class="contentImage">
                                        <div class="row">
                                            ` + remove_img(item) + `

                                        </div>
                                    </div>
                                </div>
                            </div>`;
    }


    function get_a_tags(item) {
        var str1 = '';
        for (var j = 0; j < item['blog_label'].length; j++) {
            str1 += '<a class="label label-default" href="/tag/?tag_name='+item['blog_label'][j] +'">' + item['blog_label'][j] + '</a>';
        }
        return str1
    }
    function remove_img(item) {
        if (item['image'] != "") {
            var str_img = '<a href="#" class="thumbnail w_thumbnail"><img id="pic" src="/media/' + item['image'] + '" alt="..."></a>'
            return str_img
        }
        else {
            return ""
        }
    }
</script>
</html>