<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>李东韩博客</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.comment.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/comment_base.css">

</head>
<body>
<div class="containera">
    <div class="commentbox">
        <textarea cols="80" rows="50" placeholder="来说几句吧......" class="mytextarea" id="content"></textarea>
        <div class="btn btn-info pull-right" id="comment">评论</div>
    </div>
    <div class="comment-list" id="comment-list">
    </div>
</div>


<script type="text/javascript">
    $(function () {
        com();
        $('#comment').click(function () {
            $.post('/comment/', {
                'comment_content': $('#content').val(),
                'blog_name': blog_name,
            }, function (resp) {
                resp = JSON.parse(resp)
                if (resp['success']) {
                    com();
                } else {
                    alert(resp['error']);
                    window.location.href = '/login/'
                }
            })
        });

    });


function com(){
            $.post('/whole_passage/?blog_name=' + blog_name, {}, function (resp) {
                resp = JSON.parse(resp);
                var comment_text = '';
                if (resp['success']) {
                    for (var k = 0; k < resp['comments'].length; k++) {
                        var child_text = '';
                        comment_text += `<div class="comment-info">
                                                <header><img src="./images/img.jpg"></header>
                                                <div class="comment-right">
                                                    <h3>` + resp['comments'][k]['comment_author'] + `</h3>
                                                    <div class="comment-content-header"><span><i class="glyphicon glyphicon-time"></i> ` + resp['comments'][k]['comment_time'] + `</span></div>
                                                    <p class="content">` + resp['comments'][k]['comment_content'] + `</p>
                                                    <div class="comment-content-footer">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                            </div>
                                                            <div class="col-md-2"><span class="reply-btn" style="color: #2aabd2" id="reply-ceshi` + k + `" onclick="ch_comment(this, ` + k + `,` + resp['comments'][k]['comment_id'] + `)">回复</span></div>
                                                            <div id="reply_com` + k + `"></div>
                                                        </div>
                                                    </div>
                                                    <div class="reply-list">`;
                        for (var m = 0; m < resp['comments'][k]['children'].length; m++) {
                            child_text += `<div class="reply" id ="reply` + k + `><div><a href="javascript:void(0)">` + resp['comments'][k]['children'][m]['comment_author'] + `</a>:<a href="javascript:void(0)">@` + resp['comments'][k]['children'][m]['father_name'] + `</a><span>` + resp['comments'][k]['children'][m]['comment_content'] + `</span></div>
        <p><span>`+resp['comments'][k]['children'][m]['comment_time']+`</span> <span class="reply-list-btn" style="color: #2aabd2" onclick="child_child_comment(this, ` + resp['comments'][k]['children'][m]['comment_id'] + `,` + resp['comments'][k]['children'][m]['comment_id'] + `)">回复</span></p> <div id="` + resp['comments'][k]['children'][m]['comment_id'] + `"></div>` ;
                        }
                        var end_text = `</div></div></div></div>`;
                        comment_text += child_text + end_text;

                    }
                    $('#comment-list').html(comment_text);
                }
            })
        }

function ch_comment(e, i, comment_id) {
        var html_str = `<div class='replybox'><textarea id="child_context` + i + `" cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea><span class='send' style="color: #2aabd2" id="ch_send` + i + `" onclick="child_reply(this, ` + i + `, ` + comment_id + `)">发送</span></div>`
        $('#reply_com' + i).html(html_str)
    }
function child_child_comment(e, i, comment_id) {
        var html_str = `<div class='replybox'><textarea id="child_context` + i + `" cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea><span class='send' style="color: #2aabd2" id="ch_send` + i + `" onclick="child_reply(this, ` + i + `, ` + comment_id + `)">发送</span></div>`
        $('#'+comment_id).html(html_str)
    }
function child_reply(e, i, comment_id) {
            $.post('/children_comment/', {
                'comment_content': $('#child_context' + i).val(),
                'blog_name': blog_name,
                'father_comment_id': comment_id
            }, function (resp) {
                resp = JSON.parse(resp)
                if (resp['success']) {
                    com();
                } else {
                    alert(resp['error']);
                    window.location.href = '/login/'
                }
            })
        }
</script>

</body>
</html>