<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>李东韩博客</title>
</head>
{% load static %}
<link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
<link href="logo.ico" rel="shortcut icon"/>
<script src="/static/plugin/jquery.min.js"></script>
<script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
<!--<script src="js/common.js"></script>-->
<!--<script src="js/snowy.js"></script>-->

<body>
{% include "base.html" %}
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <div class="col-lg-9 col-md-9 w_main_left">
                <!--滚动图开始-->
                <div class="panel panel-default">

                    <div id="w_carousel" class="carousel slide w_carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#w_carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#w_carousel" data-slide-to="1"></li>
                            <li data-target="#w_carousel" data-slide-to="2"></li>
                            <li data-target="#w_carousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/static/img/slider/slide2.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide2.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide3.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide4.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#w_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#w_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div id="top">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新发布</h3>
                    </div>

                    <div class="panel-body">

                        <!--文章列表开始-->
                        <div class="contentList">
                            <div id="blog_all">
                            </div>
                        </div>
                        <!--文章列表结束-->

                    </div>
                </div>
            </div>

            <!--左侧开始-->
            <div class="col-lg-3 col-md-3 w_main_right">
                <div id="notice">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门标签</h3>
                    </div>
                    <div class="panel-body">
                        <div class="labelList">
                            <div id="tag">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'publish_base.html' %}
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">关注微信公众号</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/static/img/qrcode.jpg" style="height: 230.5px;width: 230.5px;"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="w_foot">
    <div class="w_foot_copyright">Copyright &copy; 2017-2020, www.wfyvv.com. All Rights Reserved. <span>|</span>
        <a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">皖ICP备17002922号</a>
    </div>
</div>
</body>
<script type="text/javascript">
    var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function () {
        $("html, body").animate({scrollTop: 0}, 120);
    });
    var backToTopFun = function () {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
        /*IE6下的定位*/
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };

    $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    });
    $(document).ready(function () {
        $.post('/index/', {},
            function (resp) {
                resp = JSON.parse(resp)
                if (resp['success']) {
                    var str_notice = '';
                    var str = '';
                    var str_top = '';
                    var tag = '';
                    for (var i = 1; i < resp['data'].length; i++) {
                        if (resp['data'][i]['top'] == 0) {
                            str += `<div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="contentleft">
                                        <h4><a class="title" href="/whole_passage/?blog_name=` + resp['data'][i]['blog_name'] + `">` + resp['data'][i]['blog_name'] + `</a></h4>
                                        <p>
                                            ` + get_a_tags(resp, i) + `
                                        </p>
                                        <p class="overView" style="display: -webkit-box;   overflow: hidden;   white-space: normal!important;   text-overflow: ellipsis;   word-wrap: break-word;   -webkit-line-clamp: 3;   -webkit-box-orient: vertical;"> ` + resp['data'][i]['blog_context'] + `
                                            </p>
                                        <p><span class="count"><i class="glyphicon glyphicon-user"></i><a
                                                href="#">` + resp['data'][i]['author'] + `</a></span> <span class="count"><i
                                                class="glyphicon glyphicon-eye-open"></i>阅读:` + resp['data'][i]['reading_quantity'] + `</span><span
                                                class="count"><i
                                                class="glyphicon glyphicon-comment"></i><a href="/whole_passage/?blog_name=`+resp['data'][i]['blog_name'] +`">评论:` + resp['data'][i]['comment_quantity'] + `</span></a><span class="count"><i
                                                class="glyphicon glyphicon-time"></i>` + resp['data'][i]['blog_time'] + `</span></p>
                                    </div>
                                    <div class="contentImage">
                                        <div class="row">
                                            ` + remove_img(resp, i) + `

                                        </div>
                                    </div>
                                </div>
                            </div>`;
                        } else if(resp['data'][i]['top'] == 1){
                            str_top = `<div class="panel panel-default contenttop">
                        <a href="/whole_passage/?blog_name=`+resp['data'][i]['blog_name'] +`">
                            <strong>博主置顶</strong>
                            <h3 class="title">` + resp['data'][i]['blog_name'] + `</h3>
                            <p class="overView">` + resp['data'][i]['blog_context'] + `</p>
                        </a>
                    </div>`
                        }else {
                            str_notice = `<div class="panel panel-default sitetip">
                        <a href="/whole_passage/?blog_name=`+resp['data'][i]['blog_name'] +`">
                            <strong>站点公告</strong>
                            <h3 class="title">`+ resp['data'][i]['blog_name']+`</h3>
                            <p class="overView">` + resp['data'][i]['blog_context'] + `</p>
                        </a>
                    </div>`
                        }
                    }
                    for (var j=0; j<resp['tags'].length; j++){
                        tag += `<a class="label label-default">`+ resp['tags'][j]+`</a>`
                    }
                    $("#blog_all").html(str);
                    $('#top').html(str_top);
                    $('#notice').html(str_notice);
                    $('#tag').html(tag);
                }
            })
    });

    function get_a_tags(resp, i) {
        var str1 = '';
        for (var j = 0; j < resp['data'][i]['blog_label'].length; j++) {
            str1 += '<a class="label label-default">' + resp['data'][i]['blog_label'][j] + '</a>';
        }
        return str1
    }
    function remove_img(resp, i) {
        if (resp['data'][i]['image'] != "") {
            str_img = '<a href="#" class="thumbnail w_thumbnail"><img id="pic" src="/media/' + resp['data'][i]['image'] + '" alt="..."></a>'
            return str_img
        }
        else {
            return ""
        }
    }

</script>

</html>