<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>李东韩博客</title>
</head>
{% load static %}
<link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
<link href="logo.ico" rel="shortcut icon"/>
{#<script src="/static/plugin/jquery.min.js"></script>#}
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.js"></script>
<script src="https://cdn.bootcss.com/paginationjs/2.1.4/pagination.min.js"></script>

<body>
{% include "base.html" %}
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <div class="col-lg-9 col-md-9 w_main_left">
                <!--滚动图开始-->
                <div class="panel panel-default">

                    <div id="w_carousel" class="carousel slide w_carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#w_carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#w_carousel" data-slide-to="1"></li>
                            <li data-target="#w_carousel" data-slide-to="2"></li>
                            <li data-target="#w_carousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/static/img/slider/slide2.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide2.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide3.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/slide4.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#w_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#w_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div id="top">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新发布</h3>
                    </div>

                    <div class="panel-body">

                        <!--文章列表开始-->
                        <div class="contentList">
                            <div id="dataContainer" style="border:1px solid;border-bottom-color:black;"></div>
                            <div id="blog_all">
                            </div>
                        </div>
                        <!--文章列表结束-->

                    </div>
                </div>
            </div>

            <!--左侧开始-->
            <div class="col-lg-3 col-md-3 w_main_right">
                <div id="notice">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门标签</h3>
                    </div>
                    <div class="panel-body">
                        <div class="labelList">
                            <div id="tag">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'publish_base.html' %}
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">关注微信公众号</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/static/img/qrcode.jpg" style="height: 230.5px;width: 230.5px;"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="w_foot">
    <div class="w_foot_copyright">Copyright &copy; 2017-2020, www.wfyvv.com. All Rights Reserved. <span>|</span>
        <a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">皖ICP备17002922号</a>
    </div>
</div>
</body>
<script type="text/javascript">
    var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function () {
        $("html, body").animate({scrollTop: 0}, 120);
    });
    var backToTopFun = function () {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
        /*IE6下的定位*/
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };

    $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    });
    $(document).ready(function () {
        load_data(0);
{#        $.post('/index/', {},#}
{#            function (resp) {#}
{#                resp = JSON.parse(resp, 11111111)#}
{#                if (resp['success']) {#}
{#                    var str_notice = '';#}
{#                    var str = '';#}
{#                    var str_top = '';#}
{#                    var tag = '';#}
{#                    for (var i = 1; i < resp['data'].length; i++) {#}
{#                        if (resp['data'][i]['top'] == 0) {#}
{##}
{#                        } else if(resp['data'][i]['top'] == 1){#}
{#                            str_top = `<div class="panel panel-default contenttop">#}
{#                        <a href="/whole_passage/?blog_name=`+resp['data'][i]['blog_name'] +`">#}
{#                            <strong>博主置顶</strong>#}
{#                            <h3 class="title">` + resp['data'][i]['blog_name'] + `</h3>#}
{#                            <p class="overView">` + resp['data'][i]['blog_context'] + `</p>#}
{#                        </a>#}
{#                    </div>`#}
{#                        }else {#}
{#                            str_notice = `<div class="panel panel-default sitetip">#}
{#                        <a href="/whole_passage/?blog_name=`+resp['data'][i]['blog_name'] +`">#}
{#                            <strong>站点公告</strong>#}
{#                            <h3 class="title">`+ resp['data'][i]['blog_name']+`</h3>#}
{#                            <p class="overView">` + resp['data'][i]['blog_context'] + `</p>#}
{#                        </a>#}
{#                    </div>`#}
{#                        }#}
{#                    }#}
{#                    for (var j=0; j<resp['tags'].length; j++){#}
{#                        tag += `<a class="label label-default">`+ resp['tags'][j]+`</a>`#}
{#                    }#}
{#                    $("#blog_all").html(str);#}
{#                    $('#top').html(str_top);#}
{#                    $('#notice').html(str_notice);#}
{#                    $('#tag').html(tag);#}
{#                }#}
{#            })#}
    });
    function load_data(type) {
        $('#blog_all').pagination({
            dataSource: '/index/',//接口 参数
            prevText: '上一页',
            nextText: '下一页',
            className: 'paginationjs-theme-red',
            alias: {
                pageNumber: 'page',
                pageSize: 'size',
            },
            pageSize: 2,
            showGoInput: true,
            showGoButton: true,
            locator: 'a.data',
            totalNumberLocator: function (response) {//处理页数
                return response.total;
            },
            ajax: {
                type: 'POST',
                beforeSend: function () {//请求前处理
                    $("#dataContainer").html('加载中...');
                }
            },
            callback: function (data, pagination) {//请求后处理
                var html = "";
                var str_top = "";
                var str_notice = ""
                console.log(data.length)
                for(var i=1;i<=data.length;i++){
                    console.log(data)
                    if(data[i] != undefined){
                        if (data[i]['top'] == 0) {
                        console.log(data[i],22222222222)
                        html += load_html(data[i]);
                    }
{#                    else if(data[i]['top'] == 1){#}
{#                            str_top = `<div class="panel panel-default contenttop">#}
{#                        <a href="/whole_passage/?blog_name=`+data[i]['blog_name'] +`">#}
{#                            <strong>博主置顶</strong>#}
{#                            <h3 class="title">` + data[i]['blog_name'] + `</h3>#}
{#                            <p class="overView">` + data[i]['blog_context'] + `</p>#}
{#                        </a>#}
{#                    </div>`#}
{#                        }else {#}
{#                            str_notice = `<div class="panel panel-default sitetip">#}
{#                        <a href="/whole_passage/?blog_name=`+data[i]['blog_name'] +`">#}
{#                            <strong>站点公告</strong>#}
{#                            <h3 class="title">`+ data[i]['blog_name']+`</h3>#}
{#                            <p class="overView">` + data[i]['blog_context'] + `</p>#}
{#                        </a>#}
{#                    </div>`#}
{#                        }#}
                    }
                }
                $("#dataContainer").html(html);
{#                $('#top').html(str_top);#}
{#                $('#notice').html(str_notice);#}
{#                $('#tag').html(tag);#}
            }
        })
    }
    function load_html(item) {
        return `<div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="contentleft">
                                        <h4><a class="title" href="/whole_passage/?blog_name=` + item['blog_name'] + `">` + item['blog_name'] + `</a></h4>
                                        <p>

                                        </p>
                                        <p class="overView" style="display: -webkit-box;   overflow: hidden;   white-space: normal!important;   text-overflow: ellipsis;   word-wrap: break-word;   -webkit-line-clamp: 3;   -webkit-box-orient: vertical;"> ` + item['blog_context'] + `
                                            </p>
                                        <p><span class="count"><i class="glyphicon glyphicon-user"></i><a
                                                href="#">` + item['author'] + `</a></span> <span class="count"><i
                                                class="glyphicon glyphicon-eye-open"></i>阅读:` + item['reading_quantity'] + `</span><span
                                                class="count"><i
                                                class="glyphicon glyphicon-comment"></i><a href="/whole_passage/?blog_name=`+item['blog_name'] +`">评论:` + item + `</span></a><span class="count"><i
                                                class="glyphicon glyphicon-time"></i>` + item['blog_time'] + `</span></p>
                                    </div>
                                    <div class="contentImage">
                                        <div class="row">
                                            ` + remove_img(item) + `

                                        </div>
                                    </div>
                                </div>
                            </div>`;
    }

{#    function get_a_tags(item) {#}
{#        var str1 = '';#}
{#        console.log(item['blog_label'])#}
{#        for (var j = 0; j < item['blog_label'].length; j++) {#}
{#            str1 += '<a class="label label-default">' + item['blog_label'][j] + '</a>';#}
{#        }#}
{#        return str1#}
{#    }#}
    function remove_img(item) {
        if (item['image'] != "") {
            str_img = '<a href="#" class="thumbnail w_thumbnail"><img id="pic" src="/media/' + item['image'] + '" alt="..."></a>'
            return str_img
        }
        else {
            return ""
        }
    }

</script>

</html>