<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>李东韩博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <link href="/static/css/login2.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/heart.js"></script>
</head>
<body>
<h1>李东韩博客<sup>V2018</sup></h1>

<div class="login" style="margin-top:50px;">

    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);"
                                           tabindex="7">快速登录</a>
            <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a>
            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>


    <div class="web_qr_login" id="web_qr_login" style="display: block; height: calc(100% - 46px);">

        <!--登录-->
        <div class="web_login" id="web_login">


            <div class="login-box">


                <div class="login_form">
                    <form action="/login/" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm"
                          method="post"><input type="hidden" name="did" value="0"/>
                        <input type="hidden" name="to" value="log"/>
                        <div class="uinArea" id="uinArea">
                            <label class="input-tips" for="u">帐号：</label>
                            <div class="inputOuter" id="uArea">

                                <input type="text" id="u" name="username" class="inputstyle"/>
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            <label class="input-tips" for="p">密码：</label>
                            <div class="inputOuter" id="pArea">

                                <input type="password" id="p" name="password" class="inputstyle"/>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;align-items: center; position:relative;">
                            <label>验证码：</label>
                            <input type="text" size="8" id="verification_code">
                            <img id="ve" style="width: 100px; height: 50px; cursor:pointer;" src="/{{ ve }}" alt="" onclick="img_click()"/>
                        </div>
                        <div style="padding-left:70px;margin-top:10px;color: red"><span id="login_error"></span></div>
                        <div style="display: flex; justify-content: center; padding-top: 30px">
                            <button id="submit" type="button" style="width:150px;" class="button_blue">登录</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!--登录end-->
    </div>

    <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">

        <div class="web_login">
            <form name="form2" id="regUser" accept-charset="utf-8" action="" method="post">
                <input type="hidden" name="to" value="reg"/>
                <input type="hidden" name="did" value="0"/>
                <ul class="reg_form" id="reg-ul">
                    {#        		<div id="userCue" class="cue">快速注册请注意格式</div>#}
                    <li>

                        <label for="user" class="input-tips2">用户名：</label>
                        <div class="inputOuter2">
                            <input type="text" id="user" name="user" value="请请输入3到8位的字符" maxlength="16"
                                   class="inputstyle2" style="color: red"/>
                        </div>
                    </li>
                    <li>
                        <label for="passwd" class="input-tips2">密码：</label>
                        <div class="inputOuter2">
                            <input type="password" id="passwd" name="passwd" maxlength="16" class="inputstyle2"/>
                        </div>

                    </li>
                    <li>
                        <label for="passwd2" class="input-tips2">确认密码：</label>
                        <div class="inputOuter2">
                            <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2"/>
                        </div>

                    </li>

                    {#                <li>#}
                    {#                 <label for="qq" class="input-tips2">QQ：</label>#}
                    {#                    <div class="inputOuter2">#}
                    {#                       #}
                    {#                        <input type="text" id="qq" name="qq" maxlength="10" class="inputstyle2"/>#}
                    {#                    </div>#}
                    {#                   #}
                    {#                </li>#}
                    <span id="pw_error" style="color:red; margin-top:30px;margin-left:85px;"></span>
                    <li>
                        <div class="inputArea">
                            <input type="button" id="reg" style="margin-top:30px;margin-left:85px;" class="button_blue"
                                   value="同意协议并注册"/> <a href="#"
                                                        style=" line-height:100px; margin-top:10px;margin-left:25px; "
                                                        class="zcxy" target="_blank ">注册协议</a>
                        </div>

                    </li>
                    <div class="cl"></div>
                </ul>
            </form>


        </div>


    </div>
    <!--注册end-->
</div>
<div class="jianyi">*推荐使用ie8或以上版本ie浏览器或Chrome内核浏览器访问本站</div>
</body>
<script>
    function img_click(){
        $.post('/refresh/','',function (resp) {
            resp = JSON.parse(resp)
            if(resp['success']){
                $('#ve').attr('src','/'+resp['data'][0])
            }
        })
    }
    $(document).ready(function () {
        $("#user").click(function () {
            $("#user").val("")
            $("#user").attr("style", "color:black")
        })
        $("#passwd2").blur(function () {
            if ($("#passwd2").val() != $("#passwd").val()) {
                $("#pw_error").text("两次密码输入不一致");
            } else {
                $("#pw_error").text("");
            }
        })
        $('#submit').click(function () {
            $.post('/login/', {
                'username': $('#u').val(),
                'password': $('#p').val(),
                'verification_code':$('#verification_code').val(),
            }, function (resp) {
                resp = JSON.parse(resp);
                if (resp['success']) {
                    window.location.href = '/index/'
                } else {
                    $('#login_error').text(resp['error'])
                    img_click()
                }
            })
        })
        $('#reg').click(function () {
            if ($("#passwd").val() == $("#passwd2").val()) {
                $.post('/register/', {
                    'username':$('#user').val(),
                    'password':$('#passwd').val(),
                    'password2':$('#passwd2').val()
                }, function (resp) {
                    resp = JSON.parse(resp)
                    if (resp['success']) {
{#                        alert('注册成功')#}
                        window.location.href = '/index/'
                    }else {
                        alert(resp['error'])
                    }
                })
            }
        })
        $("#user").blur(function () {
            $.post("/is_exist/",{
                'username':$('#user').val()
                },
                function (resp) {
                resp = JSON.parse(resp);
                if(resp['success']){

                }else {
                    alert(resp['error'])
                }
            })
        })
    })
</script>
</html>