<!DOCTYPE html>
<html>
<head>
    <title>李东韩博客</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/article_detail.css"/>
    <link href="logo.ico" rel="shortcut icon"/>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
    <script src="/static/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/comment_base.css"/>
    <!--<script src="js/snowy.js"></script>-->
</head>
<body>
{% include "base.html" %}
<div class="w_container">
    <div class="container">
        <h4 style="color: #5cb85c; margin-top: 30px; padding-left: 50px; font: italic bold 20px/30px arial,sans-serif;">
            主人期待你的寄语</h4>
        <div class="containera">
            <div class="commentbox">
                <textarea cols="80" rows="50" placeholder="来说几句吧......" class="mytextarea" id="msg_content"></textarea>
                <div class="btn btn-info pull-right" onclick="leaving_msg()">留言</div>
            </div>
            <div class="comment-list" id="msg_con">

            </div>
        </div>
    </div>

</div>

</body>
<script>
    $(document).ready(function () {
        show_msg()
    })

    function show_msg() {
        $.post('/msg_board/', {},
            function (resp) {
                resp = JSON.parse(resp)
                var msg = "";
                if (resp['success']) {
                    for (var i = 0; i < resp['data'].length; i++) {
                        var child_msg = "";
                        msg += `<div class="comment-info">
                    <div class="comment-right" id="comment-right">
                        <h3>` + resp['data'][i]['msg_author'] + `</h3>
                        <div class="comment-content-header"><span><i class="glyphicon glyphicon-time"></i> ` + resp['data'][i]['msg_time'] + `</div>
                        <p class="content">` + resp['data'][i]['msg_content'] + `</p>
                        <div class="comment-content-footer">
                            <div class="row">
                                <div class="col-md-10">
						        </div>
                                <div class="col-md-2"><span class="reply-btn" style="color: #2aabd2" id="reply-ceshi` + i + `" onclick="ch_msg(this, ` + i + `,` + resp['data'][i]['msg_id'] + `)">回复</span></div>
                                <div id="reply_com` + i + `"></div>
                            </div>
                        </div>
                        <div class="reply-list">
                            <div class="reply" id="reply` + i + `">`
                        for (var j = 0; j < resp['data'][i]['children'].length; j++) {
                            child_msg += `<div><a href="javascript:void(0)">` + resp['data'][i]['children'][j]['msg_author'] + `</a>:<a href="javascript:void(0)">@` + resp['data'][i]['children'][j]['father_name'] + `</a><span>` + resp['data'][i]['children'][j]['msg_content'] + `</span>
                                </div>
                                <p><span>` + resp['data'][i]['children'][j]['msg_time'] + `</span> <span class="reply-list-btn" style="color: #2aabd2" onclick="child_child_msg(this, ` + resp['data'][i]['children'][j]['msg_id'] + `,` + resp['data'][i]['children'][j]['msg_id'] + `)">回复</span></p><div id="` + resp['data'][i]['children'][j]['msg_id'] + `"></div>` ;
                        }
                        var end_text = `</div></div></div></div>`;
                        msg += child_msg + end_text;
                    }
                    $('#msg_con').html(msg)
                }
            })
    }
    function leaving_msg() {
        $.post('/msg_update/', {
                'msg_content': $('#msg_content').val()
            },
            function (resp) {
                resp = JSON.parse(resp)
                if (resp['success']) {
                    show_msg()
                } else {
                    alert(resp['error']);
                    window.location.href = '/login/'
                }
            })
    }
    function ch_msg(e, i, msg_id) {
        var html_str = `<div class='replybox'><textarea id="child_context` + i + `" cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea><span class='send' style="color: #2aabd2" id="ch_send` + i + `" onclick="child_reply(this, ` + i + `, ` + msg_id + `)">发送</span></div>`
        $('#reply_com' + i).html(html_str)
    }
    function child_child_msg(e, i, msg_id) {
        var html_str = `<div class='replybox'><textarea id="child_context` + i + `" cols='80' rows='50' placeholder='来说几句吧......' class='mytextarea' ></textarea><span class='send' style="color: #2aabd2" id="ch_send` + i + `" onclick="child_reply(this, ` + i + `, ` + msg_id + `)">发送</span></div>`
        $('#'+msg_id).html(html_str)
    }
    function child_reply(e, i, msg_id) {
        $.post('/children_msg/', {
            'msg_content': $('#child_context' + i).val(),
            'father_comment_id': msg_id
        }, function (resp) {
            resp = JSON.parse(resp)
            if (resp['success']) {
                show_msg();
            } else {
                alert(resp['error']);
                window.location.href = '/login/'
            }
        })
    }
</script>
</html>