<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>李东韩博客</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/mp3/css/normalize.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/mp3/css/search_demo.css">
<link rel="stylesheet" href="/static/mp3/css/search_style.css">
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/saying.css"/>
<link rel="stylesheet" href="/static/plugin/jquery.page.css"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugin/jquery.page.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/heart.js"></script>


<body>
<script src="http://open.sojson.com/common/js/canvas-nest.min.js" count="200" zindex="-2" opacity="0.5" color="47,135,193" type="text/javascript">
</script>
	{% include "base.html" %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/index/">首页</a></li>
				  <li class="active">说说</li>
				  <span class="w_navbar_tip">删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语</span>
				</ol>
					

			<div class="bloglist">
                <div class="search d5">
                    <form action="/search_say/" method="get">
                        <input name="search_content" type="text" placeholder="请输入要查找的说说关键字">
                        <button type="submit" id="search_video"></button>
                    </form>
                </div>
            {% block say %}
            {% endblock %}
				{% for say in all_saying %}
			    <ul class="arrow_box">
			     <div class="sy">
                     {% if say.image %}
			            <img src="/media/{{ say.image }}">
                     {% endif %}
                     <p style="word-wrap:break-word;"> <div id="{{ forloop.counter}}">{{ say.say_context }}</div></p>
			     </div>
		      	<!--<p class="bloglist_count"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:22</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:0</span></p>-->
			      <span class="dateview">{{ say.say_time }}</span>
			    </ul>
                {% endfor %}
            </div>
                <div >
                    <ul class="pagination">
                       <li class="pure-menu-item"><a href="?page=1" class="pure-menu-link">首页</a></li>
                       {% if all_saying.has_previous %}
                           <li class="pure-menu-item"><a href="?page={{ all_saying.previous_page_number }}" class="pure-menu-link">&laquo上一页</a></li>
                       {% endif %}
                           <li class="pure-menu-item"><span> {{ all_saying.number }} / {{ all_saying.paginator.num_pages }}</span></li>
                       {% if all_saying.has_next %}
                           <li class="pure-menu-item"><a href="?page={{ all_saying.next_page_number }}" class="pure-menu-link">下一页 &raquo</a></li>
                       {% endif %}
                       <li class="pure-menu-item"><a href="?page={{ all_saying.paginator.num_pages }}" class="pure-menu-link">尾页</a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
	<div class="w_foot">

	</div>
	<!--toTop-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>
	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
<script>
    var news_len = {{ len }}
    var search_content = "{{ say }}"
    $(document).ready(function () {
        for(var i=1; i<=news_len; i++){
            var news_str = $('#'+i).html()
            var replace_ = `<span style="color: red">`+search_content +`</span>`
            var new_re = news_str.replace(search_content, replace_)
            console.log(new_re)
            $('#'+i).html(new_re)
        }
    })
</script>
</html>