<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>李东韩博客</title>
</head>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/article_detail.css"/>
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
<script src="/static/js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->
<body>
<div class="col-lg-3 col-md-3 w_main_right">

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">最新发布</h3>
					  </div>
					  <div class="panel-body">
					    	<ul class="list-unstyled sidebar">
                                <div id="new_publish"></div>
{#								<li><a href="/post/04928311">排序算法之冒泡排序 － java实现</a></li>#}
{#								<li><a href="/post/32097759">快速搭建基于二进制日志文件的 mysql 复制</a></li>#}
{#								<li><a href="/post/09196557">web 服务器负载均衡教程，快速搭建高可用服务器集群</a></li>#}
{#								<li><a href="/post/20654391">使用 redis 和 spring-session 实现 tomcat、glassfish 等 web 服务器集群 session 共享</a></li>#}
{#								<li><a href="/post/41501569">使用 Nginx 实现 tomcat、glassfish 等 web 服务器负载均衡</a></li>#}
{#								<li><a href="/post/89658700">mysql 复制（replication）基础概念和应用场景简介</a></li>#}
{#								<li><a href="/post/03088922">redis 单节点在 Linux 生产环境的安装和简单配置</a></li>#}
{#								<li><a href="/post/05203355">使用 jQuery 的 val() 方法来获取以及设置表单元素值</a></li>#}
{#								<li><a href="/post/03120718">使用 jQuery 的 removeProp() 方法来删除元素的特性（property）</a></li>#}
{#								<li><a href="/post/37454977">使用 jQuery 的 prop() 方法来获取以及设置元素的特性（property）</a></li>#}
						</ul>
					  </div>
					</div>

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">友情链接</h3>
					  </div>
					  <div class="panel-body">
					    <div class="newContent">
					    	<ul class="list-unstyled sidebar shiplink">
								<li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
								<li><a href="https://www.oschina.net/" target="_blank">开源中国</a></li>
								<li><a href="http://www.ulewo.com/" target="_blank">有乐网</a></li>
								<li><a href="http://www.sina.com.cn/" target="_blank">新浪网</a></li>
								<li><a href="http://www.qq.com/" target="_blank">腾讯网</a></li>
							</ul>
					    </div>
					  </div>
					</div>
				</div>
</body>
<script>
    $(document).ready(function () {
        $.post('/index/', {},
            function (resp) {
                resp = JSON.parse(resp)
                if (resp['success']) {
                    var publish = '';
                    if(resp['data'].length>11){
                        resp['data'].length = 11;
                    }
                    for (var i = 1; i < resp['data'].length; i++) {
                        publish += `<li>
                                   <a href="/whole_passage/?blog_name=` + resp['data'][i]['blog_name'] + `">` + resp['data'][i]['blog_name'] + `</a>
                                    </li>`
                    }
                    $('#new_publish').html(publish);
                }
            })
    });
</script>
</html>